.App {
  text-align: center;
}

.App-header {
  background-color: #1A1A40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
}
.clear-button {
  border: 5px solid black;
  background-color: orangered;
  width: 210px;
  height: 30px;
  margin-left: 0cm;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.button{
  border: 5px solid black;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 2px;
  font-size: 20px;
}
.results {
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.input {
  height: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.preview {
  border: 5px solid black;
  background-color: black;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  padding: 20px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: left; /* Align text to the left */
}

